
        .flexContainer0{
            display:flex;
            flex-direction: column;
            background-color: rgb(225, 233, 246);
        }
        .flexContainer1 {
            display: flex;
            justify-content: space-between;
            align-items:flex-start;
            padding: 5px;
            height:fit-content;
            border-bottom: 2px solid blue;
        }
        .flexContainer2 {
            display: inline-flex;
            align-items:flex-start;
        }
       
        .flexItem {
            margin: 0 5px 0 5px;
            display: inline-block;
        }
        .hiding-icon {
            display: none;
        }
        .flexBar0item{
            display:block;
            border-bottom: solid 1px black;
            min-height: 25px;
            height:fit-content;
            margin-left: 25px;
            margin:5px;
        }
        .inline-block{
            display:inline-block;
        }
